In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("Desktop\Project\DATASET\complete_data_set.csv")
df

,title,body,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
...,...,...,...
71721,Indonesia COVID-19 mass vaccinations to begin ...,Indonesia will begin its nationwide COVID-19 m...,1
71722,Nigeria in talks with China on COVID-19 vaccine,Nigeria is in talks with China to procure COVI...,1
71723,"Poland collects 360,000 more COVID-19 vaccines","Another 360,000 doses of the Pfizer/BioNTech c...",1
71724,"Indonesia deploys 83,566 police, army personne...","Indonesia has deployed 83,566 police and army ...",1
71725,China vaccinates up to thousands every day as ...,More Chinese cities have begun mass COVID-19 v...,1

In [3]:
data = {'A': df['label'].replace({"REAL":1,"True":1,"true":1,"real":1,"FAKE":0,"Fake":0,"fake":0})}
df1 = pd.DataFrame(data)
df1

       A
0      0
1      0
2      1
3      0
4      1
...   ..
71721  1
71722  1
71723  1
71724  1
71725  1

[71726 rows x 1 columns]

In [4]:
data = {'A': df['label'].replace({"REAL":1,"True":1,"true":1,"real":1,"FAKE":0,"Fake":0,"fake":0})}
df1 = pd.DataFrame(data,index=None)
df1.reset_index(drop=True, inplace=True)
df1

       A
0      0
1      0
2      1
3      0
4      1
...   ..
71721  1
71722  1
71723  1
71724  1
71725  1

[71726 rows x 1 columns]

In [5]:
df['label'] = df1['A']
print(df)

                                                   title  \
0                           You Can Smell Hillary’s Fear
1      Watch The Exact Moment Paul Ryan Committed Pol...
2            Kerry to go to Paris in gesture of sympathy
3      Bernie supporters on Twitter erupt in anger ag...
4       The Battle of New York: Why This Primary Matters
...                                                  ...
71721  Indonesia COVID-19 mass vaccinations to begin ...
71722    Nigeria in talks with China on COVID-19 vaccine
71723     Poland collects 360,000 more COVID-19 vaccines
71724  Indonesia deploys 83,566 police, army personne...
71725  China vaccinates up to thousands every day as ...

                                                    body label
0      Daniel Greenfield, a Shillman Journalism Fello...     0
1      Google Pinterest Digg Linkedin Reddit Stumbleu...     0
2      U.S. Secretary of State John F. Kerry said Mon...     1
3      — Kaydee King (@KaydeeKing) November 9, 2016 T...     0
4      It's primary day in New York and front-runners...     1
...                                                  ...   ...
71721  Indonesia will begin its nationwide COVID-19 m...     1
71722  Nigeria is in talks with China to procure COVI...     1
71723  Another 360,000 doses of the Pfizer/BioNTech c...     1
71724  Indonesia has deployed 83,566 police and army ...     1
71725  More Chinese cities have begun mass COVID-19 v...     1

[71726 rows x 3 columns]

In [6]:
df.dropna(subset=['title'], inplace=True)
df.dropna(subset=['body'], inplace=True)
df.dropna(subset=["label"],inplace=True)
df = df[~df['label'].apply(lambda x: isinstance(x, str))]
df

,title,body,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",0
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,0
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,1
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",0
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,1
...,...,...,...
7859,State Department says it can't find emails fro...,The State Department told the Republican Natio...,1
7860,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,The ‘P’ in PBS Should Stand for ‘Plutocratic’ ...,0
7861,Anti-Trump Protesters Are Tools of the Oligarc...,Anti-Trump Protesters Are Tools of the Oligar...,0
7862,"In Ethiopia, Obama seeks progress on peace, se...","ADDIS ABABA, Ethiopia —President Obama convene...",1
7863,Jeb Bush Is Suddenly Attacking Trump. Here's W...,Jeb Bush Is Suddenly Attacking Trump. Here's W...,1

In [7]:
pip install nltk

Requirement already satisfied: nltk in c:\users\preet\appdata\local\programs\python\python311\lib\site-packages (3.8.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click in c:\users\preet\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\preet\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\preet\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in c:\users\preet\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: colorama in c:\users\preet\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)

In [8]:
df.to_csv(r"Desktop\Project\DATASET\test.csv")

In [ ]:
from nltk.stem.porter import PorterStemmer
import re
port_stem=PorterStemmer()
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content
df['title']=df['title'].apply(stemming)
# df['body']=df['body'].apply(stemming)
df

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.title,df.label)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder

# Convert labels to numeric type
label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train)
y_test=label_encoder.fit_transform(y_test)
model = MultinomialNB()
model.fit(X_train_count,y_train)

In [ ]:
y_train

In [ ]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

In [ ]:
model.predict(X_train_count)

In [ ]:
td=pd.read_excel(r"Desktop\Project\DATASET\testingdata.xlsx")
fd=td["title"].apply(stemming)
fd=td.title
fd = v.transform(fd)
fd

In [ ]:
model.predict(fd)